<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Security-Policy" content="media-src 'self' 'unsafe-inline';">
  <title>Simple Cloud</title>

  <link rel="stylesheet" href="public/style/indexStyle.css"/>

</head>
<body>

<div id="users-block">
  <form id="user" action=""></form>
</div>

<div id="popupbox">
  <form name="login" action="" >
    <div id ="div1">Username: <input id="usernameInput" autocomplete="off" size="14" /></div>
    <div id ="div2">Password: <input type="password" id="passwordInput" autocomplete="off" size="14" /></div>
    <div id ="div3"><input type="submit" id="submit" value="login" /> <button id="changeForm">Click here to register</button></div>
  </form>
</div>

<div id="newPopupbox">
  <form name="register" action="" >
    <div id ="div4">Username: <input id="newUsernameInput" autocomplete="off" size="14" /></div>
    <div id ="div5">Password: <input type="password" id="newPasswordInput" autocomplete="off" size="14" /></div>
    <div id ="div6">
      <p id="p1">Please select a profile picture:</p>
      <input type="file" id="pictureUpload" accept="image/*" />
    </div>
    <div id ="div7"><input type="submit" id="newSubmit" value="register" /> <button id="changeFormAgain">Click here to login</button></div>
  </form>
</div>

<ul id="messages"></ul>

<form id="form" action="">
  <input id="input" autocomplete="off" />
  <button id="sendMsg">Send Msg</button>
  <button id="sendData">Send Data</button>

  <div id="multimedia">
    <div id="formExtend">
      <input type="file" id="fileUpload"/>
      <button id ="sfile">Upload and Send</button>
    </div>
  </div>
</form>

<script src="/socket.io/socket.io.js"></script>

<script src="public/script/indexScript.js"></script>

</body>
</html>
