body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 190px; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #77ff7f; }
#submit { font-size: 14px; background: #333; border: none; padding: 8px; margin-top: 15px; margin-right: 10px; border-radius: 3px; outline: none; color: #77ff7f; }
#newSubmit { font-size: 14px; background: #333; border: none; padding: 8px; margin-top: 18px; margin-right: 10px; border-radius: 3px; outline: none; color: #77ff7f; }
#changeForm { border: none; background-color: inherit; color: dodgerblue; text-decoration: underline; font-size: 15px}
#changeFormAgain { border: none; background-color: inherit; color: dodgerblue; text-decoration: underline; font-size: 15px}
#messages { list-style-type: none; margin-left: 200px; margin-top: 0; padding: 0; visibility: hidden}
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }
#users-block { width:190px; height: 100vh; float:left; background: #f5f5dc; word-wrap: break-word; position: fixed; overflow: scroll;}
#popupbox{
    margin-top: 150px; margin-left: 450px;
    padding: 20px 50px;
    width: 20%; height: 110px; position: absolute;background: #FBFBF0; border: solid #D3D3D3 8px;}
#newPopupbox{
    margin-top: 150px; margin-left: 450px;
    padding: 20px 50px;
    width: 20%; height: 175px; position: absolute;background: #FBFBF0; border: solid #D3D3D3 8px; visibility: hidden}

